$card-order-width: 4px;
// цвета
$card-background-color: #F2F2F2;
// акцентные цвета сервиса
$accent-color: #1698D9;
$hover-accent-color: #2EA8E6;
$selected-accent-color: #D91667;
$hover-selected-accent-color: #E52E7A;
$disabled-accent-color: #B3B3B3;
// цвета шрифтов
$title-color: #FFFFFF;
$title-shadow-color: #000000;
$card-title-font-color: #000000;
$card-text-font-color: #666666;
$sticker-font-color: #FFFFFF;
$caption-color: #FFFFFF;
// цвета ссылок
$link-color: #1698D9;
$link-cover-color: #22A7E9;
