@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.wrapper {
  display: flex;
  flex-direction: column;
}

.card {
  position: relative;
  padding: $card-order-width;
  width: calc(320px - $card-order-width*2);
  height: calc(480px - $card-order-width*2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(135deg, transparent 30px, $accent-color 0) top left;
  border-radius: 12px;
  box-sizing: content-box;
  text-decoration: none;
  z-index: 0;
}

.card::before {
  content: '';
  display: block;
  position: absolute;
  top: $card-order-width;
  left: $card-order-width;
  width: calc(100% - $card-order-width*2);
  height: calc(100% - $card-order-width*2);
  border-radius: 12px;
  background: linear-gradient(135deg, transparent 29px, $card-background-color 0) top left;
  z-index: -1;
}

.card:hover {
  background: linear-gradient(135deg, transparent 30px, $hover-accent-color 0) top left;
}

.card_selected {
  background: linear-gradient(135deg, transparent 30px, $selected-accent-color 0) top left;
}

.card_selected:hover {
  background: linear-gradient(135deg, transparent 30px, $hover-selected-accent-color 0) top left;
}

.card__text {
  margin-left: calc(51px - $card-order-width);
  display: flex;
  flex-direction: column;
}

.card__tagline {
  margin: calc(21px - $card-order-width) 0 5px 0;
  font-size: 16px;
  line-height: 19px;
  @include card-text-font;
}

.card__title {
  margin-left: -3px;
  font-size: 48px;
  line-height: 56px;
  @include card-title-font;
}

.card__subtitle {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 28px;
  @include card-title-font;
}

.card__description {
  font-size: 14px;
  line-height: 16px;
  @include card-text-font;
}

.card__description_accent {
  font-weight: 700;
}

.card__photo {
  width: 320px;
  height: 272px;
  border-radius: 12px;
}

.card__sticker {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $accent-color;
}

.card:hover .card__sticker {
  background-color: $hover-accent-color;
}

.card__sticker_selected {
  background-color: $selected-accent-color;
}

.card:hover .card__sticker_selected {
  background-color: $hover-selected-accent-color;
}

.card__sticker-text {
  font-weight: 400;
  font-size: 21px;
  line-height: 2px;
  text-align: center;
  color: $sticker-font-color;
}

.card__sticker-text_accent {
  font-size: 42px;
  line-height: 22px;
}

.caption {
  margin-top: 14px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: $caption-color;
}

.caption_link {
  text-decoration: none;
  color: $link-color;
  border-bottom: dashed;
}

.caption_link:hover {
  color: $link-cover-color;
}
