@font-face {
  font-family: 'Exo2.0';
  src:
    url('./fonts/Exo2-Thin.woff2') format('woff2'),
    url('./fonts/Exo2-Thin.woff') format('woff'),
    url('./fonts/Exo2-Thin.ttf') format('ttf');
  font-weight: 100;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Inter', Arial, sans-serif;
  text-rendering: optimizeLegibility;
}
